.atm-header {
    position: fixed;
    top:65px;
    left:0;
    right:0;

    .svg-logo {
        height: 80px;
        width: auto;
    }


    &.center {
        top: 30vh;
        height: 100%;

        .svg-logo {
            height:130px;
        }
    }
    h1 {
        opacity:0;
        font-size: 1em;
        font-style: italic;
        transition: opacity .4s top .3s;
    }
    text-align: center;
}

.atm-header.center h1 {
    opacity: 1;
}